.btn {
	height: 2.8rem;
	width: 11rem;
	border: 1px solid transparent;
	border-radius: var(--radii);
	font-size: 0.9em;
	font-weight: var(--fw-normal);
	color: var(--color-white);
	background-image: var(--bg-btn);
	cursor: pointer;
	opacity: 1;
	transition: opacity 0.3s ease-in;
}

.btn:hover {
	opacity: 0.7;
}

@media screen and (min-width: 778px) and (max-width: 1100px) {
	.btn {
		width: 9rem;
		height: 2.5rem;
		font-size: 0.7em;
	}
}

@media screen and (max-width: 778px) {
	.btn {
		width: 16rem;
		height: 4rem;
		font-size: 1.2em;
	}
}
